@import "./colors";
.footer {
  color: white;
  background-color: $green-very-dark;
  &__grid {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px 0;
  }
  &__item {
    &:first-child {
      grid-row: 2 span;
    }
    &:last-child {
      grid-column: 2 span;
    }
    &.start {
      place-self: start start;
    }
    &.center {
      place-self: start center;
    }
    &.end {
      place-self: start end;
    }
    &.end-corner {
      place-self: end end;
    }
  }
  .useful-links {
    .title {
      position: relative;
      font-size: 34px;
      font-weight: 700;
      padding-bottom: 8px;
      margin-bottom: 48px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: calc(100% + 20px);
        height: 2px;
        background-color: white;
      }
    }
    .list {
      padding: 0;
      margin: 0;
      font-size: 24px;
      &__item {
        list-style: none;
        &:not(:first-child) {
          margin-top: 24px;
        }
        &__link {
          text-decoration: none;
          color: white;
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: space-between;
      &__icon {
        &:not(:first-child) {
          margin-left: 24px;
        }
        a {
          display: block;
          color: inherit;
        }
      }
    }
  }
  .copyright {
    text-align: right;
  }
}

@media (max-width: 992px) {
  .footer {
    &__grid {
      grid-template-columns: repeat(2, 1fr) 0.5fr;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: unset;
    }
    &__item {
      &:first-child {
        grid-row: unset;
      }

      &.end {
        grid-row: 1;
        grid-column: 1 /-1;
      }
    }
  }
}
@media (max-width: 576px) {
  .footer {
    &__grid {
      grid-template-columns: 1fr;
    }
    &__item {
      text-align: center;
      &:last-child {
        grid-column: 1;
      }
      &.start {
        place-self: start center;
      }
      &.end {
        grid-row: 1;
        grid-column: 1 /-1;
      }
    }
  }
}
