@import "./variables.scss";
.nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $smoke-white;
  z-index: 99;
  & &__grid {
    width: 100%;
    justify-content: space-between;
  }
  & &__tile {
    display: flex;
    align-items: center;
    &--center {
      justify-content: center;
    }
    &.active {
      display: flex !important;
    }
  }
  & &__list {
    font-size: 24px;
    font-weight: 600;
  }
  & &__item {
    padding: 0 1rem;
    &:not(:last-of-type) {
      border-right: 1px solid black;
    }
  }
  & &__link {
    padding: 0 !important;
    color: $green-very-dark;
    transition: 250ms color ease-in-out;
    &:hover {
      color: $green-dark;
    }
    &.active {
      color: $green-light;
    }
  }
}
@media (max-width: 992px) {
  .nav {
    &__tile {
      &--center {
        flex-basis: auto;
        order: 1;
      }
    }
    & &__item {
      padding: 1rem;
      text-align: center;
      &:not(:last-of-type) {
        border-right: none;
      }
    }
  }
}
