@import "./variables.scss";
@import "./lato.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./line-spacer.scss";
@import "./buttons.scss";
* {
  font-family: "Lato";
}
html,
body {
  width: 100%;
  min-height: 100%;
}
body {
  background-color: $smoke-white;
}
